name: Update dev environment on push to develop branch
on:
  push:
    branches:
      - 'develop'

jobs:
  deploy:
    uses: Daniel-Wh/gym-template-iac/.github/workflows/BuildAndReleaseDotnetDev.yml@develop
    with:
      lambda_function_name: auth-service-nonprod
      project_path: auth.services
    secrets:
      BUCKET_LOCATION: ${{secrets.BUCKET_LOCATION}}
      AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
      AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}