name: Reusable build test and deploy non prod

on:
  workflow_dispatch:

jobs:
  deploy:
    uses: Daniel-Wh/gym-template-iac/.github/workflows/BuildAndReleaseDotnetDev.yml@develop
    with:
      lambda_function_name: user-services-dev
      project_path: User.Services
    secrets:
      BUCKET_LOCATION: ${{secrets.BUCKET_LOCATION}}
      AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
      AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}